.btn-primary {
  background: linear-gradient(135deg, #176356);
  border: none;
  color: white;
  padding: 12px 30px;
  margin-right: 3px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}

.btn-primary:hover {
  transform: translateY(-2px);
}
