.btn-secondary {
  flex: 1;                  /* divide espaço com outros botões */
  width: 100%;              /* garante responsividade */

  background: linear-gradient(135deg, #a00101);
  border: none;
  color: white;

  padding: 10px 12px;       /* ajustado pra caber melhor em tabela */
  border-radius: 8px;

  font-size: 1rem;
  cursor: pointer;

  transition: transform 0.2s ease;
  box-sizing: border-box;
}

.btn-secondary:hover {
  transform: translateY(-2px);
}