.btn-primary {
  display: block;            /* ocupa toda a largura disponível */
  width: 100%;               /* se adapta ao tamanho do container */
  max-width: 100%;           /* evita overflow */

  background: linear-gradient(135deg, #176356);
  border: none;
  color: white;

  padding: 10px 12px;        /* padding mais equilibrado pra tabelas */
  border-radius: 8px;

  font-size: 1rem;
  cursor: pointer;

  transition: transform 0.2s ease;
  box-sizing: border-box;    /* MUITO importante */
}

.btn-primary:hover {
  transform: translateY(-2px);
}